h1 {
    color: brown;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large
}

h2 {
    background-color: yellow;
    text-transform: uppercase;
    font-family: "Lemon", serif;
    font-weight: 200;
    font-style: normal;
}

h4 {
    color: green;
}

img {
    border: 3px dotted black
}

.destacados {
    text-align: center;
}
span{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
#azul {
    width:200px;
    height:100px;
    background-color:blue;
    border: 2px black;
    padding: 2px;
    box-sizing: border-box;
    margin-left: 50px;
    box-shadow: 9px 10px 12px 0px rgba(0,0,0,0.58);
    border-radius: 10px 25px;
}
#rojo {
    width:200px;
    height:90px;
    background-color:blue;
    border: 2px black;
    padding: 2px;
    box-sizing: border-box;
    margin-left: 300px;
    box-shadow: 9px 10px 12px 0px rgba(0,0,0,0.72);
    border-radius: 10px 25px;
}
.amarillo {
    background-color: yellow;
    border-radius: 15px 15px;
    width: 500px;
    column-rule: 0.5px solid black;
    column-count: 2;
    border-top: 2px;
    box-sizing: border-box;
}

.amarillo p {
    margin-top: 0px;
    text-align: center;
}





